body{
	background-color: #F1F3F5;
}

.header{
	background-color: #FFFFFF!important;
    padding-top: 20px;
    padding-bottom: 20px;
	box-shadow: 1px 1px 20px rgba(120, 120, 120, .1);
}

.bg{
	background-color: aqua;
	height: calc(100vh - 80px);
	padding: 0px!important;
}

.map-marker{
	margin-top: -50px!important;
	padding: 5px 10px;
	background-color: #F1F3F5!important;
	border-radius: 6px;
	border: 1px solid #DEDEDE;
	color: #000!important;
}